<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/timeline">Timeline</a></li>
	        		<li><a href="/agolmap">AGOL Map</a></li>
	        		<li><a href="/googlemap">Google Map</a></li>
				<li><a href="/geojson">GeoJSON</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zihchen97@gmail.com">email</a></li>
	        		<li><a href="https://github.com/ZHCheny">Zihan's Repo</a></li>
				</ul>
			</footer>
		</body>
	</html>
